<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary " style="position: absolute; width: 100vw;">
  <div class="container-fluid">
    <a class="navbar-brand logo" href="#" style="font-weight: 700; color: rgb(210, 44, 111);"> QUIZ APP 🧠</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <a [routerLink]="['/']" class="nav-link" (click)="activeMenu=0" [class.active]="activeMenu===0"  href="">Quiz</a>
        </li>

        <li class="nav-item">
          <a [routerLink]="['/learn']" class="nav-link" (click)="activeMenu=1" [class.active]="activeMenu===1"  href="">Learn</a>
        </li>

        

        <li class="nav-item">
          <a  [routerLink]="['/about']" class="nav-link" (click)="activeMenu=2" [class.active]="activeMenu===2" href="">About</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="page_content">
  <router-outlet></router-outlet>
  <!-- <app-quiz></app-quiz>  เรียกหน้า quiz app -->
</div>
