

<div class="container">


  <h2 class="my-5 ">{{question.text}}</h2> <!-- mb = marginbuttom 1-5  my = แกนy เว้นบนล่างพร้อมกัน-->
  <h3 class="mb-3">Who painted the Mona Lisa</h3>

  <div class="row">
      <div *ngFor="let choice of question.choices" class="col-xs-12 col-md-6 g-2"> 
        <button (click)="onClickChoice(choice)" class="btn btn-primary" style="width: 100%">{{choice}}</button>
      </div>
  </div>

  
</div>

<!-- g-2 glutter ความห่างระหว่างปุ่มห่าง 2 -->

<!-- "col-xs-12": กำหนดให้ส่วนนี้มีความกว้าง 100% ของขอบเขตคอลัมน์ในแบบเล็ก (extra small devices) เมื่อหน้าจอมีความกว้างน้อยที่สุด เช่น มือถือหรือหน้าจอเล็ก ๆ -->
<!-- "col-xs-12" จะเต็มความกว้างของคอลัมน์ในหน้าจอทุกขนาด-->

<!-- "col-md-6": กำหนดให้ส่วนนี้มีความกว้างเป็น 50% ของขอบเขตคอลัมน์ในแบบกลาง (medium devices) เมื่อหน้าจอมีความกว้างในระดับกลาง เช่น แท็บเล็ต -->
<!-- "col-md-6" จะมีความกว้างเป็นครึ่งหนึ่งของคอลัมน์ในแท็บเล็ต/mediumขึ้นไป  -->

<!-- ": กำหนดให้ส่วนนี้มีความกว้างเป็น 25% ของขอบเขตคอลัมน์ในแบบใหญ่ (large devices) เมื่อหน้าจอมีความกว้างใหญ่ที่สุด เช่น คอมพิวเตอร์ -->
<!-- " จะมีความกว้างเป็น 1/4 ของคอลัมน์ในคอมพิวเตอร์ขึ้นไป  -->